@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f43f5e;
}

header {
  width: 95%;
  padding: 25px;
  margin: 10px;
  text-align: center;
  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
  background-color: #fbbf24;
  border: 5px solid #000;
  border-radius: 40px;
  box-shadow: 2px 6px 6px -3px rgba(0, 0, 0, 0.5);
  user-select: none;
}

main {
  width: 100vw;
  text-align: center;
  margin: 20px auto;
  position: relative;
}

main > button {
  width: 15vw;
  min-width: 150px;
  padding: 12px 20px;
  font-family: "Lobster", Helvetica, sans-serif;
  font-size: calc(1rem + 1vw);
  background-color: #facc15;
  border: 2px solid #000;
  border-radius: 40px;
  margin: 20px auto;
  box-shadow: 1px 6px 6px -3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

dialog {
  width: 100%;
  max-width: 400px;
  font-size: 1.5rem;
  background-color: #fbbf24;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.7);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 20px;
  position: relative;
}

form > h3,
form > button {
  align-self: center;
}

form > span {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid black;
  cursor: pointer;
}

form > label {
  width: 100%;
}

form label > input {
  height: 3vh;
  padding: 5px;
  outline: none;
  border: 1px solid #1f1a1a;
  border-radius: 8px;
  vertical-align: middle;
}

form > button {
  font-size: calc(0.65rem + 0.5vw);
  padding: 8px 20px;
  background-color: #facc15;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 2px 6px 6px -3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.collection > h3 {
  text-align: left;
  padding-left: 50px;
  font-size: 1.5rem;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px, 2px 2px 2px rgba(244, 63, 94, 0);
}

.collection > div {
  width: calc(100vw - 100px);
  min-height: 50vh;
  background-color: #e11d48;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 10px auto;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 3px 5px 8px 0 rgba(0, 0, 0, 0.5);
}

.card {
  width: fit-content;
  height: fit-content;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: #fbbf24;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 2px 12px 12px -6px rgba(0, 0, 0, 0.5);
}

.toggle-button,
.remove-button {
  padding: 4px 8px;
  margin: 10px;
  color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 2px 6px 6px -3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.remove-button {
  background-color: #f00;
}

.toggle-button {
  background-color: #00f;
}
